.con_head{
    padding-top:10%;
}
/*container list lnb*/
.port_title ul li:first-child h1{
    font-size:5vw;
}
.port_title ul li:not(:nth-child(1)){
    font-size:2.5vw;
    /* text-indent:10px */
}
.port_list {
    position: relative;
    padding-bottom: 12px;
    margin-top:2%;
}
.port_list .line {
    height: 2px;
    position: absolute;
    bottom: 0;
    margin: 10px 0 0 0;
    background: #ff4655;
}
.port_list ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.port_list ul li {
    margin: 0 40px 0 0;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.port_list ul li.active a{
    color:#ff4655
}
.port_list ul li:last-child {
    margin-right: 0;
}
.port_list ul li a {
    font-size:1.2vw;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    font-weight: 400;
    letter-spacing: 0.2em;
}
/*contianer body*/
.grid .grid-item{
    width:100%;
    height:100vh;
    min-height: 100%;
} 
.grid .item_img_wrap,
.grid .item_txt_wrap{
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.grid .grid-item .item_img_wrap:hover{
    transition: all 0.5s;
    -webkit-transform: translate(-1%, -2%);
    -ms-transform: translate(-1%, -2%);
    transform: translate(-1%, -2%);
    transform: translate(-1%, -2%);
}
.grid .item_txt_wrap ul li{
    font-size:1vw;
    margin:5% 0 5% 0;
    color:#737373;
}
.grid .item_txt_wrap ul li:first-child{
    color:#ff4655;
}
.grid .item_txt_wrap ul li:first-child h3{
    font-size:2vw;
}
.grid .item_txt_wrap ul li:first-child{
    padding-top:10px
}
/* list button css */

.grid .item_txt_wrap ul li:last-child a,.portBtn{
    font-size:1vw;
    text-transform: capitalize;
    outline:none;
    border:0;
    transition:all 0.2s ease
}
.grid .item_txt_wrap ul li:last-child a:hover,.portBtn:hover{
    background:#ff4655;
}
.portBtn{
    font-size:1.2vw;
}
/* gird item fade animation*/
.con_head,
.grid .grid-item .item_img_wrap,
.grid .grid-item .item_txt_wrap{
    transition: all 0.7s;
    -ms-transform: translateY(150px);
    transform: translateY(150px);
    opacity: 0
}
.con_head.is-visible,
.grid .grid-item .item_img_wrap.is-visible,
.grid .grid-item .item_txt_wrap.is-visible{
    -ms-transform: translateY(0);
    transform: translateY(0);
    opacity: 1
}
/*pop up*/
.detail_wrap{
    z-index:9999;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    background:rgba(0, 0,0, 0.7);
    width:100vw;
    height:100vh;
    overflow:hidden;
    display:none;
    position:fixed;
    top:0;
    left:0;
}
.detail_wrap .container{
    background:#fff;
    color:#282828;
    width:80% !important;
    max-width:80%;
    height:90%;
    overflow-y:scroll;
}
.detail_wrap ul li{
    padding:1% 0 1%;
    font-size:1vw;
}
.detailClose{
    color:#000;
    position:fixed;
    right:15%;
    z-index:9999;
}

@media (max-width: 768px) {
    .con_head{
        padding-top:30%;
    }

    .port_title ul li:first-child h1{
        font-size:8vw;
    }
    .port_title ul li:not(:nth-child(1)){
        font-size:4.5vw;
    }
    .port_list ul li {
    margin:0 20px 0 0
    }
    .port_list ul li a{
        font-size:3vw
    }
    .grid .item_img_wrap{
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: end;
        -ms-flex-align: end;
        -webkit-align-items: end;
        align-items: flex-end;
    }
    .grid .item_txt_wrap{
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: start;
        -ms-flex-align: start;
        -webkit-align-items: start;
        align-items: flex-start;
    }
    .grid .item_txt_wrap ul li:first-child h3{
        font-size:5vw;
    }
    .grid .item_txt_wrap ul li:last-child a,.portBtn{
        font-size:3vw;
    }
    .detail_wrap .container{
        width:90% !important;
        max-width:90%;
    }
    .detail_wrap ul li{
        padding:1% 0 1%;
        font-size:3vw;
    }
    .detailClose{
        position:fixed;
        right:8%;
        z-index:9999;
    }
}